strong {
    color:#2493df;
}
img {
    float: left;
    margin-right: 10px;
}
footer{
    color:#595959;
    font-size:14px;
    text-align:center;
    margin-top: 10px;
}
h3 {
    font-size:20px;
    letter-spacing:2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section {
    padding: 10px;
    background-color: white;
}
body{
    background-color: #e0e0e0;
}
#buy {
    background-color: #687373;
    margin-top: 10px;
    color: #fcfcfc;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width:100%;
    box-sizing: border-box;
}
ul{
    list-style-type: square;
    list-style-position: inside;

}
li{
   padding-left: 30px;
}
table {
    border-collapse: collapse;
}
td, th {
    border: black 1px solid;
    padding: 10px;
}
th {
    background-color: #2493df;
    color: white;
}

input[type="number"]
{
    padding:2px;
    text-align:center;
    width:50px;
}

input[type="button"]
{
    background-color:#2493df;
    font-weight:bold;
    font-size:16px;
    color:white;
    border:none;
    height:40px;
    width:100%;
}
form {
    display:flex;
}
.form-section {
    flex: 1;
}
